<ion-header>
  <ion-toolbar>
    <ion-title>incidencias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let incidencia of incidencias; let i=index">
    <ion-img [src]="incidencia.canvasImage"></ion-img>
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>{{incidencia.desc_averia}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <small [innerHTML]="incidencia.desc_averia"></small>
    </ion-card-content>
  </ion-card>

</ion-content>